.HomeContainer {
  display:flex;
  justify-content:center;
  align-items: center;
}


.SubmitButton {
  display: inline-block;
  padding-top: 12px;
  padding-left: 10px;
}

.Switch {
  display: inline-block;
  padding-top: 16px;
  padding-left: 10px;
}